# Analyze Categories of the Data with Groupby

- Use [this CheatSheet](https://www.craft.do/s/G80r1dqrQKrjTb/b/6FC991B6-1161-4F88-A315-3E84528A1950/groupby()-Categorical-Columns-to-Sum) to work better with the following exercises.

In [ ]:
???

<table style="width:100%">
  <tr>
    <td><img src="src/df_complete.png" alt="Parametrize the Strategy" style="width:100%; height:100%"></td>
    <td><img src="src/df-aggregated-bg.png" alt="Optimizing Limits' Parameters" style="width:100%; height:100%"></td>
  </tr>
</table>

<img src="src/chart.png" alt="Parametrize the Strategy" style="width:100%">

## Load the data

In [2]:
import seaborn as sns

df_titanic = sns.load_dataset('titanic').loc[:,['alive', 'class', 'sex', 'age', 'fare']]
df_titanic['class'] = df_titanic['class'].astype(str)
df_titanic

    alive  class     sex   age     fare
0      no  Third    male  22.0   7.2500
1     yes  First  female  38.0  71.2833
..    ...    ...     ...   ...      ...
889   yes  First    male  26.0  30.0000
890    no  Third    male  32.0   7.7500

[891 rows x 5 columns]

## Who paid more, on average, to go on the Titanic: males or females?

### Summarise the data

### Visualize the data

## Who paid more, on average, to go on the Titanic based on `class` and `sex`?

### Summarise the data

### Visualize the data

## Who paid more, on average, to go on the Titanic based on `class`, `sex` and `alive`?

### Summarise the data

### Visualize the data

## Get access to our Python Course for Data Visualization

https://courses.resolvingpython.com/data-visualization