# Hypothesis Testing

Relationship between variables based on their types

In [2]:
import warnings
warnings.filterwarnings('ignore')

## Numerical & Categorical

Numerical differences on groups of 1 categorical variable.

For example, do cars from japan (categorical) have the same acceleration (numerical) than cars from europe?

### T-test: 1 Categorical with 2 Groups

In [5]:
import seaborn as sns

In [6]:
df_mpg = sns.load_dataset('mpg', index_col=-1)[['origin', 'acceleration']]
df_mpg

                          origin  acceleration
name
chevrolet chevelle malibu    usa          12.0
buick skylark 320            usa          11.5
...                          ...           ...
ford ranger                  usa          18.6
chevy s-10                   usa          19.4

[398 rows x 2 columns]

#### Summarise the data
- Calculate the mean by city

#### Visualize the data

#### Validate your hypothesis statistcally

### ANOVA: 1 Categorical with > 2 Groups

Now want to calculat differences across the 3 origins.

#### Summarise the data

- Calculate mean and variance by region

#### Visualize the distribution with a boxplot

#### Validate your hypothesis statistcally

## Chi2: Categorical & Categorical

### Summarise the data

### Visualize the data

### Validate your hypothesis statistically

## Pearson's Correlation: Numerical & Numerical

In [4]:
df_mpg = sns.load_dataset('mpg', index_col=-1)
df_mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
...,...,...,...,...,...,...,...,...
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

### Summarise the data

You may use the correlation matrix this time to see which variables are most correlated.

Discover the function within the DataFrame.

### Visualize the data

### Validate your hypothesis statistically