# How to Discover Functions

Do you need to memorise all the functions?

- No, you don't.

Instead, you should apply the **framework [Resolving Python](https://www.craft.do/s/G80r1dqrQKrjTb), a *mental model* to find the function (the chef üë®‚Äçüç≥) you need**.

Let's practice with the following exercises:

## Load a `CSV` in Python

We have [this data file](best_tennis_players_stats.csv) about Tennis Players.

How can we reference the file in Python?

- With the following `'string'`, which contains the name of the file:

In [2]:
'best_tennis_players_stats.csv'

'best_tennis_players_stats.csv'

Look for a function within the `string` (as we specify in the step [4.1.1 Object](https://www.craft.do/s/G80r1dqrQKrjTb/b/1108823A-5839-4A8E-80CC-ECC0D73020DC/Object)) by pressing the `‚Üπ` [TAB] after the dot `.` below:

> Click [here](https://www.google.com/search?q=tab+key&oq=tab+key) if you don't find the [TAB] in the keyboard.

![](src/suggestion-string.png)

You can only find functions that manipulate the `string` (a sequence of characters). For example, you can make all the letters upper case:

In [5]:
'best_tennis_players_stats.csv'.upper()

'BEST_TENNIS_PLAYERS_STATS.CSV'

You can also make the first letter of each word upper case:

In [6]:
'best_tennis_players_stats.csv'.capitalize()

'Best_tennis_players_stats.csv'

But, could you find a function within this object that loads a csv file in Python?

- No.

Then, what do you do?

Apply the step [4.1.2 Library](https://www.craft.do/s/G80r1dqrQKrjTb/b/E566C8E4-176F-4160-B530-AEF34FBAFFC4/Library) of the Resolving Python Framework and discover the function that may load your `CSV` file.

Which is the key topic of the `CSV` file?

- [X] Data Tables? ‚Üí `pandas`
- [ ] Charts & Plots? ‚Üí `matploblib` `seaborn` `plotly`
- [ ] Machine Learning? ‚Üí `sklearn`
- [ ] URLs? ‚Üí `requests`

Then, how do we discover the function that loads the `CSV` file within the library?

1. Import the `pandas` library and execute
2. Press the `‚Üπ` (TAB Key) after `pandas.`

In [8]:
import pandas as pd

The previous list of suggestions show all the possible elements the `pandas` library contains.

Apply the following internal dialogue with yourself to discover the function:

How did the creator of the `pandas` library named the function that imports a `CSV` file? Which keywords should it contain since we want to load a `CSV` file?

- csv

Therefore, if you type `csv` as below we are looking a function that contains `csv` and there you have it:

In [9]:
# pandas.

<div class="alert alert-info">
    <b>Tip ‚òùÔ∏è</b><br>
    It would help if you apply this internal dialogue every time you want to work with programming elements because your brain will easily remember what you have tried to deduce. Instead of memorising.
</div>

Reflect about what just happened:

1. You **didn't need to memorize the specific name** of the function.
2. Instead, you **strategically discovered the function's name** by typing the word that makes more sense.

In the long run, if you apply this coding discipline to any problem:

1. You will remember programming names more efficiently.
2. You will focus on the creative part of the problem:
    1. Designing programming solutions to problems requires a huge amount of creativity.
    2. Suppose you always depend on Google to copy-paste the solutions.
    3. In that case, you'll get stuck often, leading to exhaustion, demotivation, and throwing the problem into the trash.
    4. As you learn and practice programming in the way we described above, your brain will apply a high cognitive learning process driven by discovery.
    5. Therefore, you'll remember the functions and libraries you are using with minimal effort for the following times, saving more energy to focus on the creative part of the problem.

And the more you practice this cognitive process repeatedly, the easier it will be for you to learn programming.

Ok, enough of talking. Let's load the `CSV` file:

And there we have it!

Now, let's go with another exercise.

## Load an `Excel` in Python

Apply the same thinking process as before to load the TSLA Stock Data (you have the file in the folder).

![](src/excel_file.png)

In [10]:
# 'tsla_stock.xlsx' #!

We should know from the previous example that we need to use the `pandas` library because:

1. We want to load an `Excel` file, a format for Data Tables.
2. And `pandas` is the library where these types of functions are.
3. Once we found it, we pass the file path and execute:

In [11]:
pd.read_excel('tsla_stock.xlsx')

     Name  Height  Weight  Gender
0  Serena    1.78      80  Female
1    Rafa    1.75      85    Male
2   Roger    1.80      83    Male

We have successfuly loaded the Excel file. Nevertheless, is the table representing the TSLA stock data?

- No.

Why?

We prepared a little trap.

The Excel file contains 2 tables (aka sheets) and it is loading the first one:

![](src/excel-two-tables.png)

What should we think next to solve this problem?

### Configure the Parameters

#### Thinking Process

1. You may have find the function you needed: `pandas.read_excel()`
2. But it's not giving the result you expected.
3. What should we do then?
4. Look for a **parameter to change the function's behaviour**.

If you press `‚áß [SHIFT]` + `‚Üπ [TAB]` inside the parenthesis of the function, you'll see the documentation of the function:

You need to understand many concepts from the documentation:

Every word you see at the beginning of each line is called `parameter`, which you configure to tell the function the ingredients (the input) you want to cook a meal (an output).

For example, we give the Excel file path `'tsla_stock.xlsx'` to the `io` parameter to cook the table we see below:

In [12]:
pd.read_excel(io='tsla_stock.xlsx')

     Name  Height  Weight  Gender
0  Serena    1.78      80  Female
1    Rafa    1.75      85    Male
2   Roger    1.80      83    Male

By default, the function reads the first table of the Excel, `sheet_name=0`:

In [13]:
pd.read_excel(io='tsla_stock.xlsx', sheet_name=0)

     Name  Height  Weight  Gender
0  Serena    1.78      80  Female
1    Rafa    1.75      85    Male
2   Roger    1.80      83    Male

If we want to load the TSLA Stock Data, which it's the second table, we need to change the `sheet_name=1` ingredient:

In [14]:
pd.read_excel(io='tsla_stock.xlsx', sheet_name=1)

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-01-03,44.066002,42.192001,42.972000,43.397999,29616500,43.397999
1,2017-01-04,45.599998,42.862000,42.950001,45.397999,56067500,45.397999
2,2017-01-05,45.495998,44.389999,45.284000,45.349998,29558500,45.349998
3,2017-01-06,46.062000,45.090000,45.386002,45.801998,27639500,45.801998
4,2017-01-09,46.383999,45.599998,45.793999,46.256001,19897500,46.256001
...,...,...,...,...,...,...,...
1375,2022-06-21,730.729980,673.000000,673.809998,711.109985,40931000,711.109985
1376,2022-06-22,740.500000,701.479980,703.510010,708.260010,33702500,708.260010
1377,2022-06-23,717.950012,685.909973,713.719971,705.210022,34734200,705.210022
1378,2022-06-24,738.200012,708.260010,712.409973,737.119995,31866500,737.119995
1379,2022-06-27,756.209900,727.696594,748.099976,729.130005,21237332,729.130005

There we had the TSLA stock data table!

### Conclusion

Sometimes, it is not enough to just discover the function; you may need to look at the function's **documentation to discover the missing ingredient (parameter)** to cook the desired output.

<div class="alert alert-info">
<b>Tip</b>
<br><br>
    ‚úÖ The first time you use a new function, you must look up the instructions.
    <br>‚ùå Otherwise, you'll get lost because the function may not be configured, by default, as you want.
</div>

### The Ikea Analogy

You look up the instructions to mount Ikea furniture, right?

Then, why don't you look up the instructions of the functions in Python at the beginning?

## What's next?

1. The Function Importance
2. How to Discover Functions
3. [Functions in Libraries for Specific Topics](<03B_Functions in Libraries for Specific Topics.ipynb>)