# The London 2012 Olympics

The data source is Kaggle: https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results

## [ ] Load the data

In [1]:
import pandas as pd

df_olympics = pd.read_csv('athlete_events.csv', index_col=0)
df_olympics

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

## Select the data from London 2012

### Filter the rows

### Drop the columns with the same value, such as `Year`

## In total, how many athletes participated in London 2012?

- Every row represents one athlete, if you count how many rows in the `DataFrame` we have, you'll have the number of athletes

## How many unique countries participanted in London 2012?

- Use the column `NOC`

## [ ] Which country brought more athletes?

### Count how many athletes each country brought

- Every row represents one athlete. So, you could count how many times each `NOC` is repeated.

### Select the top 10 countries

### Visualize the data with a bar plot

- Interconnection of pandas with matplotlib; instance and function

## Which country brought the youngest athletes?

### Calculate the average age by country

- How to thinkg about these types of problems
    1. Identify the important columns
    2. Groupby the categorical column
    3. Select the numerical column
    4. Apply the mathematical operation

### Sort the rows by the average age and get the 10 youngest countries

### Reset the index to have a DataFrame

### Visualize the data in a barplot

## [ ] How many medals of each type were given?

## Which countries won more medals?

### Filter the athletes that won medals

### Count the number of medals by country

### Select the top 10

### Reset the index to get a DataFrame

### Change the names of the columns

### Visualize the Data

## [ ] Which countries won more gold medals?

- Grouping by multiple columns and calculating the number of elements; different than math operations.

### Count how many medals by type each country won

### Select the top 10 countries who won gold medals

#### Filter the rows by gold medals

#### Filter the top 10 countries

### Visualize the data

## BONUS: Represent the top 10 gold medal countries

### Save the top 10 gold medal countries in a new variable

### Filter the rows of the top 10 gold medal countries

### Calculate how many medals won each of the top 10 gold medal countires

### Visualize the data

## Which athlete won more medals?